.nav {
  background-color: brown;
  display: flex;
  width: 100vw;
  height: 70px;
  justify-content: center;
}
.toHome {
  line-height: 70px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: rgb(73, 16, 16);
}
